.off-canvas {
    position: fixed;
    top: 0;
    right: -100%;
    bottom: 0;
    left: 0;
    transition: right 1s ease-in-out;
}

.off-canvas.open {
    right: 0;
}

.overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
}

.canvas {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 479px;
    /* ajusta el ancho según tus necesidades */
    background: #fff;
    padding: 35px;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
}

                           